* {
  background-color: rgb(248, 245, 247);
}

.bar {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgb(224, 224, 224);
  padding-bottom: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center; 
  background-color: white;
}

.barLeft {
  margin-left: 200px;
  margin-right: -100px;
  margin-top: 10px;
  background-color: white;
}

.picture {
  width: 40px;
  border-right: 1px solid black;
  padding-right: 10px;
  background-color: white;
}

.logo {
  width: 100px;
  margin-left: 10px;
  padding-top: 5px;
  background-color: white;
}

.barCenter {
  margin: 5px auto;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
}

.search {
  width: 200px;
  color: whitesmoke;
  border-radius: 3px;
  font-size: 13px;
  text-align: center;
  margin-left: 50px;
}

.magnifying {
  width: 15px;
  position: absolute;
  top: 6px;
  left: 115px;
}

.barRight {
  margin-right: 240px;
  margin-top: 10px;
  background-color: white;
}

.explorer, .love, .mypage {
  width: 25px;
  margin-left: 25px;
  background-color: white;
}

.main {  
  margin-top: 150px;
}

.feeds { 
  width: 42%; 
  height: 100%;
  margin-left: 230px;
  float: left;
}

.article1 {
  border: 1px solid rgb(224, 224, 224);
}

.mainFeed {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mainProfile {
  width: 40px;
  border-radius: 50%;
}

.mainWho {
  font-size: 13px;
  margin-right: 400px;
  font-weight: bold;
  margin-left: 20px;
}

.mainMenu {
  width: 20px;
  margin-left: 35px;
}

.mainPicture {
  width: 100%;
}

.redHeart, .bubble, .bookmark {
  width: 25px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.upload {
  width: 25px;
  margin-top: 5px;
  margin-right: 420px;
}

.like {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.divLike {
  display: inline-block;
}

.likeIcon {
  width: 40px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 5px;
}

.likeSentence {
  font-size: 13px;
  font-weight: bold;
}

.mentions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 13px;
  margin-left: 10px;
}

.mentionId, .mentionBy {
  font-weight: bold;
}

.iLike {
  width: 15px;
  margin-left: 400px;
}

.comments {
  border: 1px solid rgb(224, 224, 224);
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#makingCom {
  color: rgb(122, 121, 121);
  font-size: 15px;
  margin-left: 10px;
  border: 0;
  outline: 0;
}

.posting {
  color: rgb(158, 190, 241);
  font-size: 15px;
  margin-left: 350px;
  border: none;
  background: transparent;
}

.main-right {
  width: 28%;
  margin-left: 62%;
}

.right1 {
  width: 80%;
  font-size: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profilePicture {
  width: 50px;
  border-radius: 50%;
  display: inline-block;
}

.profileTitle {
  margin-left: 10px;
}

.profileName {
  font-size: 12px;
  font-weight: bold;
}

.profileExplain {
  font-size: 12px;
  color: rgb(122, 121, 121);
}

.right2 {
  border: 1px solid rgb(224, 224, 224);
  width: 80%;
  margin-bottom: 5px;
}

.right22 {
  font-size: 13px;
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.story {
  color: rgb(122, 121, 121);
  font-size: 13px;
}

.allView {
  font-size: 13px;
  font-weight: bold;
}

.stories1, .stories2, .stories3 {
  margin-left: 10px;
  width: 80%;
}

.storyPic1, .storyPic2, .storyPic3 {
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.storyWho1, .storyWho2, .storyWho3 {
  display: inline-block;
  }

.storyId1, .storyId2, .storyId3 {
  font-weight: bold;
  font-size: 13px;
}

.storyTime1, .storyTime2, .storyTime3 {
  font-size: 10px;
  color:   rgb(122, 121, 121);
}

.right3 {
  border: 1px solid rgb(224, 224, 224);
  width: 80%;
}

.right32 {
  font-size: 13px;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.forYou {
  color: rgb(122, 121, 121);
  font-size: 13px;
  margin-left: -20px;
}

.allView2 {
  font-size: 13px;
  font-weight: bold;
  margin-left: -2d0px;
}

.recommends1, .recommends2, .recommends3 {
  margin-left: 10px;
  width: 80%;
}

.recomPic1, .recomPic2, .recomPic3 {
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.recomWho1, .recomWho2, .recomWho3 {
  display: inline-block;
  }

.recomId1, .recomId2, .recomId3 {
  font-weight: bold;
  font-size: 13px;
}

.recomNum1, .recomNum2, .recomNum3 {
  font-size: 10px;
  color:   rgb(122, 121, 121);
}

.recomNum1 {
  margin-right: 45px;
}

.follow {
  font-size: 13px;
  color: rgb(18, 123, 165)
}

.right4 {
  width: 80%;
  font-size: 13px;
  color:   rgb(122, 121, 121);
  margin-top: 10px;
}
